<div *ngIf="errorMessage">{{ errorMessage }}</div>
<h3>Your games</h3>
<ul>
  <li *ngFor="let game of games">
    <a (click)="handleClick(game)" *ngIf="game !== selectedGame">
      {{ game.startedOn | date: 'M/d/yyyy hh:mm a' }}
    </a>
    <b *ngIf="game === selectedGame">
      {{ game.startedOn | date: 'M/d/yyyy hh:mm a' }}
    </b>
    <span *ngIf="game.completed">
      <i *ngIf="game.completed.winnerIndex === 0">(tie)</i>
      <i *ngIf="game.completed.winnerIndex === 1 && game.humanPlayerFirst">(you won)</i>
      <i *ngIf="game.completed.winnerIndex === 2 && !game.humanPlayerFirst">(you won)</i>
      <i *ngIf="game.completed.winnerIndex === 1 && !game.humanPlayerFirst">(you lost)</i>
      <i *ngIf="game.completed.winnerIndex === 2 && game.humanPlayerFirst">(you lost)</i>
    </span>
  </li>
</ul>
